<style>
    @font-face {
        font-family: sponge;
        src: url("SpongeboyRegular-gx2n6.otf");
    }

    body {
        display: flex;
        margin: 0;
        justify-content: center;
        align-items: center;
        background-color: deeppink;
    }



    .form_container {
        width: 96%;
        margin: auto 0;
    }

    input,button {
        margin-top: 3%;
        width: 100%;
        height: 16%;
        color: deeppink;
        font-size: 300%;
        background-color: rebeccapurple;
        border: deeppink solid 4px;


    }

    input::placeholder {
        opacity: 0.7;
        text-align: center;
        color: deeppink;

    }

    .credentials {
        color: rebeccapurple;
        font-size: 490%;
        font-family: sponge;
    }
</style>




<div class="form_container">
    <form action="post" class="login">
        <div class="credentials">PLEASE CONFIRM YOUR CREDENTIALS BELOW</div>

        <input type="text" placeholder="NAME">
        <input type="text" placeholder="UNIVERSITY/INSTITUTION"><br>
        <input type="text" placeholder="COURSE"><br>
        <input type="text" placeholder="GROUP"><br>
        <input type="text" placeholder="STUDENT EMAIL"><br>
        <Button>NOTES</Button>
        <Button>RECORDS</Button>

    </form>
</div>

<!--

dropdown menu from latest subjects

            name
            email
            school
            group
            notes
            records
        -->